@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/mixins";

.home {
  min-height: 86vh;
  position: relative;

  &__enter {

  }

  &__container {
    width: 876px;
    /*margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__enter {
      // width: 876px;
      padding: 20px 0px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &-dropdown {
      width:  220px;
      background-color: $juris-light-blue;
      outline: none;
    }
  }

  &__newDJ {
    position: fixed;
    right: 0;

    div {
      align-items: center;
      padding: 10px 0 10px 10px;
    }
  }
}

.info__reniec {
  padding: 10px;
  &--title {
    @include flex-no-wrap();
    align-items: center;
    padding: 10px 0;

    i {
      display: flex;
    }
  }

  &--user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--newDj {
    text-align: center;
    padding: 30px;
  }
}
