@import "src/scss/abstracts/variables";

.transfer {
  &__documents {

    &--button {
      float: right;
    }

    &--register {

      &-file {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__drawer {
    position: relative;
    height: 100%;

    &--button {
      position: absolute;
      bottom: 0;
      left: 0;
      justify-content: space-between;
      border-top: 1px solid $juris-light-gray;
      padding-top: 10px;
    }
  }
}
