<div class="steps-dj">
  <nz-steps [nzCurrent]="0" [nzSize]="'small'" nzProgressDot nzDirection="vertical">
    <nz-step nzTitle="Registro de Contribuyente" ></nz-step>
    <nz-step nzTitle="Motivo y Ubicación del predio"></nz-step>
    <nz-step nzTitle="Transferencia y contratantes"></nz-step>
    <nz-step nzTitle="Condición del predio"></nz-step>
    <nz-step nzTitle="Documentos de Exoneracion"></nz-step>
    <nz-step nzTitle="Determinación del Autoevaluo"></nz-step>
    <nz-step nzTitle="Resumen"></nz-step>
  </nz-steps>
</div>
