<div class="home"  *ngIf="!searchDoc">
  <div class="home__container">
    <app-search-dj (documentDj)="searchDJ($event)"></app-search-dj>
    <div class="home__newDJ">
      <div class="flex-no-wrap color-juris-light-blue xei-light-24">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <div>Nueva Declaración Jurada</div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="searchDoc" >
  <div nz-row>
    <div nz-col [nzMd]="4" ></div>
    <div nz-col [nzMd]="16" >
      <div class="home__enter">
        <div class="home__container__enter">
          <app-search-dj ></app-search-dj>
        </div>
        <div  class="home__results">
          <nz-table #basicTable [nzData]="[]">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nombre y Apellidos</th>
              <th>Dirección</th>
              <th>Telefono</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.name}}</td>
              <td>{{data.age}}</td>
              <td>{{data.address}}</td>
              <td>
                <a>Action 一 {{data.name}}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div nz-col [nzMd]="4" ></div>
  </div>
  <div nz-row>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="10" [nzXXl]="10"></div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="3">
      <div class="info__reniec">
        <div class="info__reniec--title">
          <i nz-icon nzType="caret-down" nzTheme="outline"></i>
          <div class="">RENIEC</div>
        </div>
        <div class="info__reniec--user">
          <nz-avatar [nzShape]="'square'" [nzSize]="140" [nzIcon]="'user'"></nz-avatar>
          <div class="info__reniec--user-data">
            <div>987654321</div>
            <div>Francisca Sáenz Caldera</div>
          </div>
        </div>
        <div class="info__reniec--newDj">
          <button nz-button [nzType]="'primary'">
            Agregar en nueva declaración jurada
          </button>
        </div>
      </div>
    </div>
    <div nz-col [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="11"></div>
  </div>
</ng-container>
