@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/mixins";

.consult {

  &__container {
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.info__reniec {
  padding: 10px;
  &--title {
    @include flex-no-wrap();
    align-items: center;
    padding: 10px 0;

    i {
      display: flex;
    }
  }

  &--user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--newDj {
    text-align: center;
    padding: 30px;
  }
}
