@mixin font-size($size) {
  font-size: $size !important;
}

@mixin telefonica-bold($fontsize) {
  // font-family: Telefonica-Bold;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  @include font-size($fontsize);
}

@mixin xei-bold-900($fontsize) {
  // font-family: Telefonica-Bold;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  @include font-size($fontsize);
}

@mixin xei-bold-700($fontsize) {
  // font-family: Telefonica-Bold;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  @include font-size($fontsize);
}

@mixin telefonica-light($fontsize) {
  // font-family: Telefonica-Light;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  @include font-size($fontsize);
}

@mixin flex-no-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
