@import "../../../../../scss/abstracts/variables";

.searchdj {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &-dropdown {
    width:  220px;
    background-color: $juris-light-blue;
    outline: none;
  }
}
