<app-register-dj>
  <ng-container Content>
    <div class="transfer">
      <div class="transfer__documents">
        <nz-divider nzText="Documentos de Transferencia" [ngClass]="'color-juris-black'"
                    nzOrientation="left"></nz-divider>
        <nz-table #basicTable [nzData]="[]" [nzNoResult]="noData">
          <thead>
          <tr>
            <th>Documento</th>
            <th>Anexo</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Adjunto</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
          </tr>
          </tbody>
        </nz-table>
        <div class="transfer__documents--button mt-1">
          <button nz-button nzType="primary"(click)="openNewDocument()">Agregar</button>
        </div>
      </div>
      <div class="transfer--contractor">
        <nz-divider nzText="Datos del contratante" [ngClass]="'color-juris-black'"
                    nzOrientation="left"></nz-divider>
        <nz-table #basicTable [nzData]="[]" [nzNoResult]="noData">
          <thead>
          <tr>
            <th>Documento</th>
            <th>Anexo</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Adjunto</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
          </tr>
          </tbody>
        </nz-table>
        <div class="transfer__contractor--button  mt-1">
          <button nz-button nzType="primary"(click)="openNewContractor()">Agregar</button>
        </div>
      </div>
    </div>
    <ng-template #noData>
      Debe agregar al menos un registro para continuar
    </ng-template>
  </ng-container>
</app-register-dj>
