<div nz-row class="p-2 existing-estate">
  <div class="existing-estate__button" nz-col [nzMd]="3">
    <div class="xei-bold-20 p-05">USAR</div>
  </div>
  <div nz-col [nzMd]="1"></div>
  <div class="existing-estate__code" nz-col [nzMd]="3">
    <div class="xei-700-bold-20 p-05">P6442</div>
  </div>
  <div nz-col [nzMd]="1"></div>
  <div class="existing-estate__address" nz-col [nzMd]="16">
    <div class="xei-bold-16 p-05">Lima, lima</div>
    <div class="xei-bold-20 p-05">Toy Little</div>
  </div>
</div>
